.home {
  width: 100vw;
  display: grid;
  /* grid-template-columns:  2fr 3fr 2fr ; */
  grid-template-columns: 5rem 1.5fr 3fr 1.5fr 5rem;
  column-gap: 30px;
}
.sidebar {
  grid-column: 2/3;
  display: grid;
}
.mainSection {
  border: 1px solid blue;
  grid-column: 3/4;
}
.rightSide {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  /* padding: 10%; */
}
.trending {
  margin-top: 20%;
  margin-bottom: 10%;
}

@media screen and (max-width: 800px) {
  .rightSide {
    display: none;
  }
  .mainSection {
    grid-column: 3/5;
  }
}
