
.nav{
    position: fixed;
    top: 0;
    width: 45%;
    height: 10vh;
    border: .5px solid white;
    border-bottom: none;
    gap: 50%;
    z-index: 9999;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px)
  }
  .container{
      display: flex;
      flex-direction: column;
    }
    
    .lowerContent{
      display: flex;
      gap: 40%;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    
    .mainHeading{
      display: flex;
      margin-right: 19rem;
    }
    .h33{
      padding: 3%;
    }