
.nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 20% ;
    border: .5px solid#CAD5E2;
    border-bottom: none;
    gap: 50%;
    
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px)
  }
  .container{
      display: flex;
      flex-direction: column;
    }
    
    .lowerContent{
      display: flex;
      gap: 40%;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    
    .mainHeading{
      display: flex;
      margin-right: 19rem;
    }