.menu{
    
    display: flex;
    justify-content: flex-start;
    margin: 3%;
    padding: 4%;
}

.btn{
    color: black;
    padding: 1%;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 11%;
    
}